body {
    text-align: center;
}

hr {
    visibility: hidden;
}

#input {
    margin-top: 3%;
}

#list {
    border: 1px solid black;
    background-color: cadetblue;
    width: 40%;
    margin-left: 30%;
    margin-top: 4%;
}